[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-Nest-Devtalles/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Microservices-Nest-Devtalles/orders-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Microservices-Nest-Devtalles/Products-Microservices.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Microservices-Nest-Devtalles/payments-microservices.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Microservices-Nest-Devtalles/auth-ms.git
